@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;1,400&family=Nixie+One&family=Viga&display=swap');

$primaryFont: 'Nixie One', cursive;
$paragraphFont: 'Montserrat Alternates', sans-serif;

$teal: #22545e;
$charcoal: #323339;
$grayish-blue: #284466;
$forest-green: #2c563c;
$lt-gray: #dedede;

body {
  margin: 0;
  background-color: $lt-gray;
}

h1 {
  font-family: $primaryFont;
  font-size: 6em;
  letter-spacing: 0.3em;
  @media screen and (max-width: 1100px) {
    font-size: 5em;
  }
  @media screen and (max-width: 900px) {
    font-size: 4em;
  }
  @media screen and (max-width: 600px) {
    font-size: 3em;
    padding-bottom: 5%;
  }
}

h2 {
  font-family: $primaryFont;
  font-size: 2em;
}

h3 {
  font-family: $primaryFont;
  font-size: 1em;
}

p, li, button, label, ::placeholder {
  font-family: $paragraphFont;
}

@mixin row-wrap {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin button-hover {
  cursor: pointer;
  transform: scale(1.15);
  transition-duration: 0.7s;
}
