.toggle-button {
  height: 100%;
  background: none;
  outline: none;
  border: none;
  margin-top: -3%;
}

.svg {
  width: 16%;
  filter: invert(100%) sepia(0%) saturate(7356%) hue-rotate(89deg) brightness(110%) contrast(94%);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.7s;
  }
}