.toggle-button {
  height: 10vh;
  background: none;
  outline: none;
  border: none;
}

.svg {
  width: 16%;
  filter: invert(100%) sepia(0%) saturate(7356%) hue-rotate(89deg) brightness(110%) contrast(94%);
}