@import '../index.scss';

.feature {
  display: flex;
  margin: 0 2%;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-feature {
  letter-spacing: 0 !important;
  font-size: xxx-large;
  margin-bottom: -1%;
}

.go-back {
  width: 4em;
  margin: 15px;
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
}

.table-img {
  @include row-wrap;
  img {
    height: 60vh;
    width: 40%;
    object-fit: cover;
    padding-bottom: 3%;
  }
  @media screen and (max-width: 700px) {
    img {
      width: 100%;
    }
  }
}

.observations {
  cursor: pointer;
  &:hover {
    color: $teal;
    transition-duration: 0.5s;
  }
}

.table {
  width: 50vw;
  @media screen and (max-width: 700px) {
    width: 100vw;
  }
}

#modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  @include row-wrap;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}