@import '../../../index.scss';

.plant-card {
  background-color: transparent;
  width: 30%;
  height: 50vh;
  border: none;
  outline: none;
  margin-top: 5%;
  @media screen and (max-width: 1000px) {
    width: 50%;
  }
  @media screen and (max-width: 800px) {
    width: 60%;
  }
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.plant-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  &:hover {
    transform: rotateY(180deg);
  }
}

.plant-card-front, .plant-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  margin-bottom: 5%;
  box-shadow: 5px 5px 10px black;
}

.plant-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant-card-back {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  padding-bottom: 2%;
  @media screen and (max-width: 800px) {
    justify-content: center;
    padding-bottom: 4%;
  }
}

.plant-card-btns {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fav-btn, .learn-link {
  width: 50%;
  margin: 4%;
  border: none;
  background-color: transparent;
  outline: none;
  &:hover {
    @include button-hover;
  }
}

.learn-link a {
  color: $teal;
  font-size: 1.7em;
  &:hover {
    transition-duration: 1s;
    color: $charcoal;
  }
}

.heart-icon {
  width: 35%;
  filter: invert(17%) sepia(16%) saturate(309%) hue-rotate(194deg) brightness(98%) contrast(90%);
  &:hover {
    transition-duration: 1s;
    filter: invert(29%) sepia(8%) saturate(3564%) hue-rotate(143deg) brightness(85%) contrast(84%);
  }
}