.plant-card {
  background-color: transparent;
  width: 25%;
  height: 30vh;
  border: 1px solid #f1f1f1;
  margin-top: 5%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  &:hover {
    transform: rotateY(180deg);
  }
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flip-box-back {
  background-color: lightgray;
  color: black;
  transform: rotateY(180deg);
}

.heart-icon {
  width: 20%;
}