@import '../../index.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/95/14/94/951494e942ab734f98a9d409e57fec61.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 900px) {
    height: 40vh;
  }
}

.user-interaction {
  align-items: center;
  justify-content: center;
}

.title {
  padding-top: 3%;
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
}