@import '../../index.scss';

.header {
  height: 30vh;
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/95/14/94/951494e942ab734f98a9d409e57fec61.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.user-interaction {
  @include row-wrap;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
  color: white;
}