.header {
  height: 30vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1501854140801-50d01698950b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1140&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  color: white;
  font-size: 40px;
}