@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;1,400&family=Nixie+One&family=Viga&display=swap');

$primaryFont: 'Nixie One', cursive;
$paragraphFont: 'Montserrat Alternates', sans-serif;

body {
  margin: 0;
}

h1 {
  font-family: $primaryFont;
  font-size: 5em;
  letter-spacing: 0.3em;
}

h2 {
  font-family: $primaryFont;
  font-size: 2em;
}

h3 {
  font-family: $primaryFont;
  font-size: 1em;
}

p, li, button {
  font-family: $paragraphFont;
}

@mixin row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
